/* Itinerary page-only structural helpers extracted from inline attributes */

.itinerary-tip-note {
  margin-top: 1.25rem;
  text-align: center;
  opacity: 0.68;
  font-weight: 850;
  font-size: 0.78rem;
  color: rgb(255 255 255 / 78%);
}

.noscript-alert {
  padding: 1rem;
  text-align: center;
  background: #ffd740;
  color: #0d2236;
  font-weight: 900;
}
